service cloud.firestore {
  match /databases/{database}/documents {
    // Разрешить чтение всем пользователям, но запись только аутентифицированным пользователям
    match /users/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    // Добавил правила для коллекции eventMessages
    match /eventMessages/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

	// Добавил правила для коллекции locationsUz
    match /participants/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Добавьте правила для коллекции userProfiles
    match /userProfiles/{userId} {
      allow read, write: if request.auth != null;
    }

    // Добавьте правила для коллекции listOfSports
    match /listOfSports/{document=**} {
      allow read: if true;
    }
    
    // Добавил правила для коллекции locationsUz
    match /locationsUz/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Добавил правила для коллекции events
    match /events/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Добавьте правила для коллекции communicationPreferences
    match /communicationPreferences/{document=**} {
      allow read: if true;
    }
    
    // Добавьте правила для коллекции meetingPreferences
    match /meetingPreferences/{document=**} {
      allow read: if true;
    }
    // Добавьте правила для коллекции activityPreferences
    match /activityPreferences/{document=**} {
      allow read: if true;
    }
    // Добавьте правила для коллекции familyStatus
    match /familyStatus/{document=**} {
      allow read: if true;
    }
    // Добавьте правила для коллекции opennessPreferences
    match /opennessPreferences/{document=**} {
      allow read: if true;
    }
    // Добавьте правила для коллекции partnerPreferences
    match /partnerPreferences/{document=**} {
      allow read: if true;
    }
    
  }
}